body {
  font-family: "Inter", sans-serif;
}
.error_msg {
  display: flex;
  align-items: center;
  color: red;
  font-size: medium;
  background-color: rgba(226, 90, 66, 0.408);
  padding: 10px 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  border-radius: 2px;
}
.success_msg {
  color: green;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  border-radius: 2px;
}
.anim_icon {
  width: 50px;
}
a {
  text-decoration: none;
}
.textInput,
button {
  width: 100% !important;
  padding: 10px !important;
  border-radius: 5px !important;
  margin: 10px 0 0px 0 !important;
  border: 1px solid #000 !important;
  outline: none !important;
  font-size: 20px !important;
}
button {
  color: white !important;
  border: none !important;
  cursor: pointer !important;
  background-color: #607bda !important;
}
.title {
  color: pink;
}
.flex {
  display: flex;
}
