.title {
  text-align: center;
}
.video_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.video_container video {
  width: 100%;
}
