nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 30px;
    margin-block-start: 5px;
    margin-block-end: 5px;
}
ul{
    display: flex;
    gap: 20px;
    font-size: large;
}
li{
    list-style-type: none;
}