.watch_container {
  padding: 20px;
  width: 70%;
}
.watch_title {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.views_time_container {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}
.vjs-marker:hover {
  background-color: white !important;
}
